html{
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 2rem;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: left;
     }
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
ul {
    font-size: 1.2rem;
    padding-inline-start: 2rem;
    line-height: 1.5;

}